@using DayPilot.Web.Mvc;

<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>
<br />
<h3>Agenda de Consultas</h3>
<br />
@Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
{
    BackendUrl = Url.Action("Backend", "Home"),
    ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week
})
<style>
    h3 {
        text-align: center;
    }
</style>